<header> 

  <nav class="indigo" role="navigation">
    <div class="nav-wrapper">
      <ul class="right hide-on-med-and-down">
        <li>
          <a class='right dropdown-button' data-activates='user_dropdown'
          routerLink="/login">
            Logout
            <i class=' material-icons'>account_circle</i>
            
          </a>
        </li>
      </ul>
      <a href="#" data-activates="slide-out" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
    </div>
  </nav>
  <nav>
    <div class="nav-wrapper indigo darken-2">
      <a *ngFor="let item of BreadCrumb; let i = index;" [class]="'breadcrumb ' + (i == 0 ? ' padding-left ' : '')">{{item}}</a>
      <div style="margin-right: 20px;" id="timestamp" class="right"></div>
    </div>
  </nav>
</header>
